* {
	margin:0;
	padding:0;
	list-style:none;
	vertical-align:baseline;
}

#logo {
	position: relative;
	width: 200px;
	height: 60px;
	float: right;
}

.botao {
	margin: 5px;
	float: right;
}

body {
	position: absolute;
	background-color: #b8c1c8;
	height: 100%;
	width: 100%;
}

#header {
	background: #0069aa;
	border-bottom: 1px solid #cccccc;
	margin-right: 5px;
	margin-left: 5px;
	height: 60px;
	border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
}

#conteudo2 {
	background-color: #e1e1e1;
	border: 2px solid #f7f7f7;
	padding: 10px;
	border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.cont-int {
	position: absolute;
	display: block;
	height: 87%;
	margin: 8px;
	z-index: 11;
	background-color: #e1e1e1;
	border: 2px solid #f7f7f7;
	border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.menu {
	width: 80%;
	float: left;
}

.menu-form button {
	margin: 10px 10px 10px 10px;
	color: #000;
	font-weight: normal;
}

.panel-grid01-obra, .panel-grid02-obra {
	width: 100%;
	text-align: center;
}


.pr1 {
	width: 10%;
}

.pr2 {
	width: 20%;
}

.pr8 {
	width: 80%;
}

.pr9 {
	width: 90%;
}

#form-obra {
	margin: 20px;
}

#form-obra input, textarea {
	width: 100%;
	margin: 5px;
}

#form-obra label {
	color: #777777;
	font-size: 14px;
	font-weight: bold;
}

.select-form{
	width: 100% !important;
	margin: 5px !important;
	height: 30px !important;
	border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}