* {
	margin:0;
	padding:0;
	list-style:none;
	vertical-align:baseline;
}

/****************************Cabeçalho****************************/
#logo {
	position: relative;
	margin-top: 5px;
	width: 200px;
	height: 50px;
	float: right;
}


#header {
	background: #0069AA;
	border-bottom: 1px solid #cccccc;
	margin-right: 5px;
	margin-left: 5px;
	height: 60px;
	border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
}

.menu {
	width: 80%;
	float: left;
}

.menu-form input[type="button"] {
	
	background: none repeat scroll 0 0 transparent;
    border: none;
    border-spacing: 0;
    font-weight: normal;
    margin: 0;
    padding: 0;
    -moz-appearance: button;
	
	margin: 10px 0px 10px 10px;
	color: #FFF;
	font-weight: normal;
	height: 44px;
	width: 120px;
	background-image: url("#{facesContext.externalContext.requestContextPath}/resources/imagens/images/dropdown/btnBlueMenuUp.png");
	background-repeat: no-repeat;
	cursor:  pointer;
}

.menu-form input[type="button"]:HOVER {
	background-image: url("#{facesContext.externalContext.requestContextPath}/resources/imagens/images/dropdown/btnBlueMenuOver.png");
	background-repeat: no-repeat;
}

/****************************Botões****************************/
.botao {
	float: right;
}

.botao button {
	margin: 10px 5px 5px 5px;
}

.btn-obra{
	margin: 10px 0 0 10px;
}

/****************************Conteúdo****************************/
body {
	position: absolute;
	background-color: #b8c1c8;
	height: 100%;
	width: 100%;
}

#conteudo2 {
	padding: 10px;
}

.cont-int {
	position: absolute;
	display: block;
	height: 87%;
	margin: 8px;
	background-color: #e1e1e1;
	border: 2px solid #ececec;
	border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.panel-obra {
	width: 100%;
	text-align: center;
}

/****************************Formulários****************************/
#form-obra {
	margin: 20px;
}

#form-obra input, textarea {
	width: 100%;
	margin: 5px;
}

#form-obra02 input {
	margin: 10px;
	width: 98%;
}

#form-obra03 input {
	margin: 10px;
	width: 90%;
}

#form-obra label {
	color: #777777;
	font-weight: bold;
}

.select-form {
	width: 60% !important;
	margin: 5px !important;
	height: 30px !important;
	border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: none;
    background: url("#{facesContext.externalContext.requestContextPath}/resources/imagens/images/dropdown/dropDownUp.png") no-repeat;
   
}

.cmd {
	height: 20px;
	background: url("#{facesContext.externalContext.requestContextPath}/resources/imagens/images/dropdown/dropDownUp.png") no-repeat;
}

.tabela th {
	background-image: -webkit-gradient(linear, 0 top, 100% top, from(rgba(0,0,0,0)), to(rgba(0,0,0,0)));
	background-image: -webkit-linear-gradient(left, color-stop(rgba(0,0,0,0) 0), color-stop(rgba(0,0,0,0) 100%));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0) 0, rgba(0,0,0,0) 100%);
	background-image: linear-gradient(to right, rgba(0,0,0,0) 0, rgba(0,0,0,0) 100%);
	
	font-style: normal;
	font-variant: normal;
	text-decoration: none;
	text-shadow: none;
	text-transform: none;
	color: #FFF;
	background-color: #27282a;
	border: none;
	border: #696969 1px;
}

/****************************Porcentagem****************************/
.pr1 {
	width: 10%;
}

.pr2 {
	width: 20%;
}

.pr5 {
	width: 50%;
}

.pr8 {
	width: 80%;
}

.pr8s {
	width: 100%;
	
}

.pr9 {
	width: 90%;
}

.pr45 {
	width: 45%;
}

/* tabela zebrada */

.par {
	background-color: #F0F9FF;
}

.impar {
	background: none repeat scroll 0 0 #DDDDDD;
}

/*############################################################################################################*/

.ui-widget {  
   font-size: 12px !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	font-size: 12px !important;
	background-image: url("#{facesContext.externalContext.requestContextPath}/resources/imagens/images/buttom/bt_up.png"); 
	background-color: #f8f8f8;
	color: #000;
	font-weight: bold;
}



 